body {
  margin: 0;
  height: 100vh;
  width: 100vw;

}

#root {
  height: 100%;
  width: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: "Roboto";
  src: url("./fonts/Roboto/Roboto-Regular.ttf") format("truetype"),
}

.MuiCard-root{
  display: flex;
  flex-direction: column;
}